apache-beam==2.17.0
avro==1.9.1
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.2
boto==2.44.0
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
crcmod==1.7
dill==0.3.0
docopt==0.6.2
enum34==1.1.6
fastavro==0.21.24
fasteners==0.15
funcsigs==1.0.2
future==0.18.2
futures==3.3.0
get==2019.4.13
google==2.0.3
google-api-core==1.16.0
google-apitools==0.5.28
google-auth==1.10.1
google-cloud-bigquery==1.17.1
google-cloud-bigtable==1.0.0
google-cloud-core==1.2.0
google-cloud-datastore==1.7.4
google-cloud-pubsub==1.0.2
google-cloud-storage==1.11.0
google-compute-engine==20191210.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
googledatastore==7.0.2
grpc-google-iam-v1==0.12.3
grpcio==1.26.0
hdfs==2.5.8
httplib2==0.12.0
idna==2.8
mock==2.0.0
monotonic==1.5
nltk==3.4.5
numpy==1.16.6
oauth2client==3.0.0
pandas==0.24.2
pbr==5.4.4
post==2019.4.13
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.11.2
public==2019.4.13
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydot==1.4.1
pymongo==3.10.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyVCF==0.6.8
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
rsa==4.0
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.5
typing==3.6.6
urllib3==1.25.7
virtualenv==16.7.9
wordninja==2.0.0
